

#playerUI{
    position: fixed;
    left: 30px;
    top: 20px;
    border: dashed rgb(73, 73, 73);
}
#enemyUI{
    position: fixed;
    right: 30px;
    top: 20px;
    border: dashed rgb(73, 73, 73);
}/* こいつらは使おうと思ったけどあんま利用価値ないから形だけ居るやつ。幽霊部員的な */
